body {
  display: flex;
  justify-content: center;
  position: relative;
 
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login h1{
    text-align: center;
    color:red;
}
.container {
    display: flex;
   flex-direction: column;
   align-items: center;
 position: absolute;
 top:100px;
border-radius: 30px;
  width: 30vw;
  height: 50vh;
  background-image:url(/06a36e4d78172aaa5f65f9af2632d040.jpg);
  filter:drop-shadow(0 50px 20px red);
  border: 5px solid red;

  
}
.container  input[type="text"] {
   
  
    padding: 20px;
    
    border: 5px solid red;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin-bottom:50px;
}

/* Style for label */
 label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    font-size:40px;
    color: black;
    letter-spacing: 10px;
    margin-bottom:5px;
    display: block;
}
.container button{
    padding: 20px;
    color: red;
    border: 5px solid red;
}
.container button:hover{
    cursor:pointer;
    color:white;
    background-color: red;
    border:5px solid black;
}
